@{
    ViewData["Title"] = "All Users";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Data Table Default</h4>
                    <div class="data-tables">
                        <table id="dataTable" class="text-center">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone No</th>
                                    <th>Joining Date</th>
                                    <th>Task</th>
                                    <th>Salary</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                    <th>Employee History</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>

                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>Project</td>
                                    <td>$162,700</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>View History</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary btn-flat btn-lg mt-3" data-toggle="modal" data-target="#exampleModalCenter">Add New User</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
        
    </div>
</div>
     
<!-- main content area end -->